<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <a class="navbar-brand" href="#">LOGO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mynav">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" routerLink="app-dashboard">Dasboard</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="app-about">About</a>
          </li>
      </ul>
      <form class="form-inline my-1 my-lg-0">
        <div class="col-auto">
          <label class="visually-hidden" for="autoSizingInputGroup">Search</label>
          <div class="input-group">
            <div class="input-group-text"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Search">
            <button class="btn btn-warning my2-my-sm-0" type="buttom">Search</button>
          </div>
        </div>
      </form>
  </div>
</nav>
<div class="Container-fluid">
    <router-outlet></router-outlet>
</div>

